

//** Error
$bordercolor :rgba(255,25,0,0.332);
$errorbg :rgba(192 29 29 /15%);
$errorColor :#ef8d8dfa;

// ** Default
$defaultBg: rgb(29 31 32 / 71%);
$defaultColor: #c8c8c8;
$defaultBorder: #c8c8c8;

// ** Info
$infoColor: #bcc0ff;
$infoBorder: #646cff;
$infoBg: rgb(100 108 255 / 8%);

// ** Warning
$warningBg: rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder: rgba(255, 213, 0, 0.793);

// ** Success
$successBg: rgba(246, 238, 9, 0.127);
$successColor: #7acf58d6;
$successBorder: rgba(0, 255, 0, 0.322);



@mixin alert($name,$bordercolor ,$bgColor, $color){
    .#{$name} {
            border: 1px dotted $bordercolor;
            border-radius: .8rem;
            padding: 1.3rem;
            background-color: $bgColor;
            color: $color;
            margin-bottom: 1.5rem;
            
    
    
            .alert-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
            }
    
            .title {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
            }
    
            p {
                font-size: 0.9rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-top: 1.2rem;
            }
    
            .close {
                cursor: pointer;
            }
    
            span svg {
                margin-right: .8rem;
            }
        }

}

@include alert("alert-danger",$bordercolor , $errorbg , $errorColor );
@include alert("alert-default",$defaultBorder , $defaultBg , $defaultColor );
@include alert("alert-info",$infoBorder , $infoBg , $infoColor );
@include alert("alert-success",$successBorder , $successBg , $successColor );
@include alert("alert-warning",$warningBorder , $warningBg , $warningColor );